name: hello-world-action
on: 
  push:
    branches:
      - main
jobs:
  publish-hello-world-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: false
          build-args: |
            TEST_ENV: vars.TEST_ENV-${{ vars.TEST_ENV }}
          tags: ghcr.io/tsiriwat-mfec/action-hello-golf:$GITHUB_SHA
      - name: Run Docker image
        run: docker run ghcr.io/tsiriwat-mfec/action-hello-golf:$GITHUB_SHA
