name: hello-world-action
on: 
  push:
    branches:
      - main
jobs:
  publish-hello-world-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}
          build-args: |
            TEST_ENV: "5555555555555"
      - name: Build Run Push Docker image
        uses: depot/build-push-action@v1
        with:
          context: .
          push: true
          platforms: linux/arm64,linux/amd64
          build-args: |
            TEST_ENV: "5555555555555"
          tags: |
            ghcr.io/tsiriwat-mfec/action-hello-golf:$GITHUB_SHA
      - name: Pull & Run Docker image
        run: |
               docker pull ghcr.io/tsiriwat-mfec/action-hello-golf:$GITHUB_SHA
               docker run action-hello-golf
