name: hello-world-action
on: [push]
jobs:
  publish-hello-world-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}
      - name: Build Run Push Docker image
        run: |
               docker build . --tag ghcr.io/tsiriwat-mfec/hello-golf:latest
               docker run ghcr.io/tsiriwat-mfec/hello-golf:latest
               docker push ghcr.io/tsiriwat-mfec/hello-golf:latest
